* {
margin: 0;
    --tc: #181818;
    --bc: #fefefe;
    --hc: #5d61fc;
}

@media (prefers-color-scheme: dark) {
    * {
        --tc: #fefefe;
        --bc: #181818;
        --hc: #ffdd33;
    }
}

body {
    font: 18px -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.4;
    color: var(--tc);
    background: var(--bc);
    max-width: 36em;
    margin: 0 auto;
    padding: 0 0.7em;
    text-align: justify;
}

main {
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: var(--hc);
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
br,
header,
ul {
    margin-bottom: 1em;
}

ul {
    padding-left: 1em;
}

br {
content: " ";
    display: block;
}

/* navigation */
section,
section:target~section:last-of-type {
    display: none;
}

section:target,
section:last-of-type {
    display: inherit;
}

/* end navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>a {
    font-size: 1.7em;
    font-weight: 700;
}

nav a {
    margin-left: 0.75em;
}

div {
    margin-bottom: 20px;
}

img {
    width: 500px;
}

#b img {
    width: 100%;
}

hr {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* TODO: fix inline code style */

pre {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border-radius: 4px;
    overflow: auto;
}

input, textarea, button {
   font-family: inherit;
   font-size: inherit;
}

.go-icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

div.blogpost h2 {
    margin-bottom: 0.2em;
}
div.blogpost h3 {
    margin-top: 0.6em;
}
div.blogpost p {
    margin-top: 0.4em;
}

footer {
    text-align: center;
}
